@{
    ViewData["Title"] = "Home Page";
}
<!-- ======= Hero Section ======= -->
<section id="hero">
    <div class="hero-container">
        @*<h3>Welcome to <strong>SALAM</strong></h3>*@
        <h1>Your Place to find SALAM</h1>
        <h2>Manage your tasks and track your daily habits efficiently!</h2>
        <a asp-area="" asp-controller="Account" asp-action="Register" class="btn-get-started scrollto">Get Started</a>
    </div>
</section><!-- End Hero -->
<!-- ======= About Section ======= -->

<!-- ======= Services Section ======= -->
<div id="services" class="services">
    <div class="container">
        <h2>Our Awesome Services</h2>
        <div class="content row habit_service">
            <div class="col-lg-6 txt">
                <h4>
                    <a asp-area="" asp-controller="Habit" asp-action="Index" class="btn-get-started scrollto">Habit Tracker</a>
                </h4>
                <p>
                    Did you know that doing somthing for <em>21 days</em> in line, wil create a <span class="highlight">Habit!</span>
                <p />
                <p>
                    We are here to encourage you start earning some great new habits!
                </p>
            </div>
            <div class="col-lg-6 pt-4 pt-lg-0 image">
                <img src="~/assets/img/Home/new_habit.jpg" />
            </div>
        </div>
        <div class="content row todo_service">
            <div class="col-lg-6 pt-4 pt-lg-0 image">
                <img src="~/assets/img/Home/todo.gif" />
            </div>
            <div class="col-lg-6 txt">
                <h4>
                    <a asp-area="" asp-controller="ToDoItems" asp-action="Index" class="btn-get-started scrollto">To-do List</a>
                </h4>
                <p> Free up your mental space <p />
                <p> Regain clarity and calmness by getting all those tasks out of your head and onto your to-do list! </p>
            </div>
        </div>
        <div class="content row article_service">
            <div class="col-lg-6 txt">
                <h4>
                    <a asp-area="" asp-controller="Articles" asp-action="Index" class="btn-get-started scrollto">Articles</a>
                </h4>
                <p>
                    SALAM also provides you with a collection of great ideas to help you direct your compass in the right way!
                <p />
            </div>
            <div class="col-lg-6 pt-4 pt-lg-0 image">
                <img src="~/assets/img/Home/articles.png" />
            </div>
        </div>
    </div>
</div>
<!-- End Services Section -->
<!-- ======= Features Section ======= -->

        
<!-- ======= Team Section ======= -->
<section id="team" class="team">
    <div class="container">

        <div class="section-title">
            <h2>Team</h2>
            <h3>Our Hardworking <span>Team</span></h3>
            <p>We are honored to present to you our team who helped make the dream come true.</p>
        </div>

        <div class="row">

            <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
                <div class="member">
                    <div class="member-img">
                        <img src="~/assets/img/alaa.jpeg" class="img-fluid" alt="">
                        <div class="social">
                            <a href=""><i class="bi bi-twitter"></i></a>
                            <a href=""><i class="bi bi-facebook"></i></a>
                            <a href=""><i class="bi bi-instagram"></i></a>
                            <a href=""><i class="bi bi-linkedin"></i></a>
                        </div>
                    </div>
                    <div class="member-info">
                        <h4>Alaa Sayed</h4>
                        <span>Developer</span>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
                <div class="member">
                    <div class="member-img">
                        <img src="~/assets/img/bardis.jpeg" class="img-fluid" alt="">
                        <div class="social">
                            <a href=""><i class="bi bi-twitter"></i></a>
                            <a href=""><i class="bi bi-facebook"></i></a>
                            <a href=""><i class="bi bi-instagram"></i></a>
                            <a href=""><i class="bi bi-linkedin"></i></a>
                        </div>
                    </div>
                    <div class="member-info">
                        <h4>Bardis Maher</h4>
                        <span>Developer</span>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
                <div class="member">
                    <div class="member-img">
                        <img src="~/assets/img/nada.jpeg" class="img-fluid" alt="">
                        <div class="social">
                            <a href=""><i class="bi bi-twitter"></i></a>
                            <a href=""><i class="bi bi-facebook"></i></a>
                            <a href=""><i class="bi bi-instagram"></i></a>
                            <a href=""><i class="bi bi-linkedin"></i></a>
                        </div>
                    </div>
                    <div class="member-info">
                        <h4>Nada El-Gammal</h4>
                        <span>Developer</span>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 offset-lg-2 col-md-6 d-flex align-items-stretch">
                <div class="member">
                    <div class="member-img">
                        <img src="~/assets/img/toqa.jpg" class="img-fluid" alt="">
                        <div class="social">
                            <a href=""><i class="bi bi-twitter"></i></a>
                            <a href=""><i class="bi bi-facebook"></i></a>
                            <a href=""><i class="bi bi-instagram"></i></a>
                            <a href=""><i class="bi bi-linkedin"></i></a>
                        </div>
                    </div>
                    <div class="member-info">
                        <h4>Toqa Magdy</h4>
                        <span>Developer</span>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 offset-md-3 offset-lg-0 d-flex align-items-stretch">
                <div class="member">
                    <div class="member-img">
                        <img src="~/assets/img/zeinab.jpeg" class="img-fluid" alt="">
                        <div class="social">
                            <a href=""><i class="bi bi-twitter"></i></a>
                            <a href=""><i class="bi bi-facebook"></i></a>
                            <a href=""><i class="bi bi-instagram"></i></a>
                            <a href=""><i class="bi bi-linkedin"></i></a>
                        </div>
                    </div>
                    <div class="member-info">
                        <h4>Zeinab Rabie</h4>
                        <span>Developer</span>
                    </div>
                </div>
            </div>

        </div>

    </div>
</section>
<!-- End Team Section -->
<!-- ======= Contact Section ======= -->
<section id="contact" class="contact">
    <div class="container">

        <div class="section-title">
            <h2>Contact</h2>
            <h3>Our <span>Location</span></h3>
            <div>
                <iframe style="border:0; width: 100%; height: 270px;"
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d221223.48634030484!2d30.862725784083242!3d29.961694103465888!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14585124598fb2d1%3A0x1a06b05171ec25f0!2sFirst%206th%20of%20October%2C%20Giza%20Governorate!5e0!3m2!1sen!2seg!4v1614797807221!5m2!1sen!2seg" frameborder="0" allowfullscreen></iframe>
            </div>
            <h3>Contact <span>Us</span></h3>
            <p>For any inquiries or suggestion, please contact us on our email salamforyou@gmail.com</p>
            <button class="btn btn-danger" style="padding:20px; margin:10px;"><a id="contact" href="mailto: testsendingemail55@gmail.com"> <span style="color:white; padding:20px;">Send us an email!</span></a></button>
        </div>

    </div>

       @* <div class="row mt-5">

            <div class="col-lg-4">
                <div class="info">
                    <div class="address">
                        <i class="bi bi-geo-alt"></i>
                        <h4>Location:</h4>
                        <p>6 October District 7 298</p>
                    </div>

                    <div class="email">
                        <i class="bi bi-envelope"></i>
                        <h4>Email:</h4>
                        <p>salamforyou@gmail.com</p>
                    </div>
                    
                    <div class="phone">
                        <i class="bi bi-phone"></i>
                        <h4>Call:</h4>
                        <p>01222111232</p>
                    </div>

                </div>

            </div>*@

          @*  <div class="col-lg-8 mt-5 mt-lg-0">

                <form action="" method="post" role="form" class="php-email-form">
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>
                        </div>
                        <div class="col-md-6 form-group mt-3 mt-md-0">
                            <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required>
                        </div>
                    </div>
                    <div class="form-group mt-3">
                        <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required>
                    </div>
                    <div class="form-group mt-3">
                        <textarea class="form-control" name="message" rows="5" placeholder="Message" required></textarea>
                    </div>
                    <div class="my-3">
                        <div class="loading">Loading</div>
                        <div class="error-message"></div>
                        <div class="sent-message">Your message has been sent. Thank you!</div>
                    </div>
                    <div class="text-center"><button type="submit">Send Message</button></div>
                </form>

            </div>

        </div>*@

</section>

<script>

    function sendMail() {
        window.open('mailto:test@example.com');

    }
</script>


<!-- End Contact Section -->
