@model SelfDevelopmentApp.Models.Habit

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Habit</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ID" />
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Longest_Streak" class="control-label"></label>
                <input asp-for="Longest_Streak" class="form-control" />
                <span asp-validation-for="Longest_Streak" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Current_Streak" class="control-label"></label>
                <input asp-for="Current_Streak" class="form-control" />
                <span asp-validation-for="Current_Streak" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Total_Count" class="control-label"></label>
                <input asp-for="Total_Count" class="form-control" />
                <span asp-validation-for="Total_Count" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StartingDate" class="control-label"></label>
                <input asp-for="StartingDate" class="form-control" />
                <span asp-validation-for="StartingDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserID" class="control-label"></label>
                <select asp-for="UserID" class="form-control" asp-items="ViewBag.UserID"></select>
                <span asp-validation-for="UserID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
