body {
    font-family: 'Varela Round', sans-serif;
}
.modal-login {
    width: 60%;
    margin: 30px auto;
}
.colorInput{
    border-radius:50%;
    width:100%;

}
.colorInput input[type="color"] {
    width: 100px;
    height: 100px;
    /*border-radius: 50%;
    display: none;*/  
}
.modal-body label{
    float:left;
    padding-bottom:3px;
}
.modal-login .modal-content {
    background: #16222A; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #3A6073, #16222A); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #3A6073, #16222A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}


.modal-login .modal-header {
    position: relative;
    justify-content: center;
    background: #f2f2f2;
    background: #16222A; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #3A6073, #16222A); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #3A6073, #16222A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.modal-login .modal-body {
    padding: 30px;
}

.modal-login .modal-footer {
    background: #16222A; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #3A6073, #16222A); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #3A6073, #16222A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.modal-login .modal-footer input{
    border-radius:5px;
}

.modal-login h4 {
    text-align: center;
    font-size: 26px;
}

.modal-login label {
    font-weight: bold;
    font-size: larger;
}

.modal-login .form-control, .modal-login .btn {
    min-height: 38px;
    border-radius: 2px;
}

.modal-login .hint-text {
    text-align: center;
}

.modal-login .close {
    position: absolute;
    top: 15px;
    right: 15px;
}

.modal-login .checkbox-inline {
    margin-top: 12px;
}

.modal-login input[type="checkbox"] {
    margin-top: 2px;
}

.modal-login .btn {
    min-width: 100px;
    background: #3498db;
    border: none;
    line-height: normal;

}

/*.modal-login .btn:hover, .modal-login .btn:focus {
    background: #248bd0;
}*/

/*.modal-login .hint-text a {
    color: #999;
}*/
a.trigger-btn{
    text-decoration:none !important;
    color: white !important;
}
.trigger-btn {
    font-size:larger;
    display: inline-block;
    margin: 50px auto;
    border: 1px solid;
    width: 15%;
    padding: 10px;
    color: white;
    border-radius: 50px;
    background: #16222A; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #3A6073, #16222A); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #3A6073, #16222A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.trigger-btn:hover {
    color: white;
    transition: 0.3s;
    animation-direction:alternate-reverse;
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
    box-shadow: 0 7px 17px rgba(0,0,0,0.3);
}
#habitsTable {
    background: #eef2f3 !important; /* fallback for old browsers */
     width: 70%;
    margin: auto;
    margin-bottom: 5%;
    border: 1px solid black;
}
#habitsTable thead {
    background: #16222A; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #3A6073, #16222A); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #3A6073, #16222A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: white;
}
#habitsTable td {
    text-align: left;
}
#myModal {
    color: white !important;
}


