@{
    Layout = "~/Views/Shared/_index.cshtml";
    ViewData["Title"] = "Page Title";
}
@*<!DOCTYPE html>
<html lang="en">
<head>

    <link href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    
</head>
<body>*@
    <div class="text-center">
        <!-- Button HTML (to Trigger Modal) -->
        <a href="#myModal" class="trigger-btn" data-toggle="modal">Create Habit</a>
    </div>

    <!-- Modal HTML -->
    <div id="myModal" class="modal fade">
        <div class="modal-dialog modal-login">
            <div class="modal-content">
                <form action="Insert" method="post">
                    <div class="modal-header">
                        <h4 class="modal-title">New Habit.. New Challenge</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label>Name</label>
                            <input name="Description" type="text" class="form-control" required="required">
                        </div>

                    </div>
                    <div class="modal-footer">
                        <input type="submit" class="btn btn-primary pull-right" value="Add Habit">
                    </div>
                </form>
            </div>
        </div>
    </div>
@*</body>
</html>*@                                		