
@model SelfDevelopmentApp.ViewModel.LoginViewModel


@{
    ViewBag.Title = "User Login";
}

<div class="form">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div id="login">
        <h1 style=" color: rgb(12,64,100)">Welcome Back!</h1>

        <form method="post" id="login_form">

            <div class="field-wrap">
                <div>
                    Email Address
                </div>
                <input asp-for="Email" class="form-control" value=" " placeholder="Email@mail.com" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <div class="field-wrap">
                <div>
                    Password
                </div>
                <input asp-for="Password" class="form-control" placeholder="Password" />
                <span asp-validation-for="Password" class="text-danger"></span>

            </div>


            <button type="submit" style=" background-color: rgb(12,64,100)" class="btn-primary">Login</button>

        </form>

    </div>



</div> <!-- /form -->
<link href="~/assets/css/loginRegister.css" rel="stylesheet" />
<script src="~/lib/jquery-validate/jquery.validate.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>