@model SelfDevelopmentApp.ViewModel.RegisterViewModel

@{
    ViewBag.Title = "User Registration";
}

<div class="form">
    <div asp-validation-summary="All" class="text-danger"></div>

    <div id="signup">
        <h1 style="color:#e43c53">Sign Up</h1>

        <form method="post">

            <div class="top-row">
                <div class="field-wrap">

                    <div>
                        First Name
                    </div>
                    <input asp-for="Fname" class="form-control" placeholder="First name" />
                    <span asp-validation-for="Fname" class="text-danger"></span>
                </div>

                <div class="field-wrap">
                    <div>
                        Last Name
                    </div>
                    <input asp-for="Lname" class="form-control" placeholder="Last name" />
                    <span asp-validation-for="Lname" class="text-danger"></span>
                </div>
            </div>

            <div class="field-wrap">
                <div>
                    Email Address
                </div>
                <input asp-for="Email" class="form-control" value=" " placeholder="Email@mail.com" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <div class="field-wrap">
                <div>
                    Password
                </div>
                <input asp-for="Password" class="form-control" value="" placeholder="Password" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="field-wrap">
                <div>
                    Confirm Password
                </div>
                <input asp-for="ConfirmPassword" class="form-control" placeholder="Confirm Password" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <button type="submit" style="background-color:#e43c53" class="button button-block">Register</button>

        </form>


    </div>
</div> <!-- /form -->
<link href="~/assets/css/loginRegister.css" rel="stylesheet" />
<script src="~/lib/jquery-validate/jquery.validate.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>